imageio
openpyxl
xlwings
hachoir
decord
moviepy
boto3
memory_profiler
reportlab
openai
psutil
ultralytics
sahi # custom version install from repo
scikit-learn

# For vision
google-cloud-vision>=3.4.4
opencv-python>=4.7.0.72
opencv-contrib-python>=4.8