#PyPi requirements
boto3
decord
hachoir
imageio
matplotlib
numpy
opencv_python
opencv_contrib_python
pandas
Pillow
scikit_learn
scipy
setuptools
torch
ultralytics

# GitHub repositories for the forked packages
git+https://github.com/ChlupacTheBosmer/sahi.git@main#egg=sahi