#PyPi requirements
boto3==1.34.103
decord==0.6.0
hachoir==3.3.0
imageio==2.34.1
matplotlib==3.8.4
numpy==1.25.2
opencv_python==4.8.0.76
opencv_contrib_python==4.9.0.80
pandas==2.2.2
Pillow==10.3.0
scikit_learn==1.4.2
scipy==1.13.0
setuptools==67.7.2
torch==2.3.0
ultralytics==8.2.13

# GitHub repositories for the forked packages
git+https://github.com/ChlupacTheBosmer/sahi.git@main#egg=sahi